<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAESLNMkA368CmoSRLWa9QRqRo3eE7L0oc</string>
	<key>GCM_SENDER_ID</key>
	<string>869688641769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chakulalink.app</string>
	<key>PROJECT_ID</key>
	<string>chakulalink</string>
	<key>STORAGE_BUCKET</key>
	<string>chakulalink.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869688641769:ios:beb62c6cfd473203b6c878</string>
</dict>
</plist>